.error-wrapper {
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.error-image {
  width: calc(100% - 10px);
  max-width: 500px;
}

.error-link {
  border-radius: 30px;
  padding: 10px 20px;
  background: transparent;
  margin-top: 20px;
  text-decoration: none;
  &:hover {
    border-color: #fade4b !important;
    color: #fade4b !important;
  }
}

#root:has(> .dark) {
  .error-link {
    border: 1px solid white;
    color: white;
  }
}

#root:has(> .light) {
  .error-link {
    border: 1px solid black;
    color: black;
  }
}
